@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(fonts/MaterialIcons-Regular.woff2) format('woff2'),
  url(fonts/MaterialIcons-Regular.woff) format('woff'),
  url(fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
body{
  min-width: 320px;
}

.main-weather{
  padding: 0 10% 0 10%;
}

.cloud-pic{
  width: 50%;
  max-width:150px;
}
.main-title{
  text-align: center;
}

.error-icon{
  font-size: 72px;
}

.error-text{
  text-align: center;
}
.weather-title{
  padding-bottom: 0;
}
.weather-content{
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
}
.weather-astronomy{
  color: rgba(0,0,0,0.54);
  padding-top: 0;
  padding-bottom: 0;
}
.current-weather{
  font-size: xx-large;
}

.forecast-weather{
  font-size: xx-large;
}

.metric-change{
  font-size: small;
}

md-content{
  background-color: transparent;
}
